<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>
    <extension point="org.eclipse.equinox.http.registry.servlets">
        <servlet alias="/test" class="ai.svl.TestServlet" />
        <servlet alias="/*.jsp" class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/web_files" />
    </extension>
    
    <extension point="org.eclipse.equinox.http.registry.resources">
        <resource alias="/" base-name="/web_files"/>
    </extension>
    
    <extension
          id="product"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ant.ui.antRunner"
             name="aw">
          <property
                name="appName"
                value="aw">
          </property>
       </product>
    </extension>
</plugin>
